asgiref
Django
django-auth-ldap
django-recaptcha
django-user-agents
django-widget-tweaks
fernet
ldap3
pyaes
pyasn1
pyasn1-modules
pyotp
python-decouple
python-ldap @ file:///C:/Projects/d%40identity/python_ldap-3.3.1-cp39-cp39-win_amd64.whl
pytz
sqlparse
ua-parser
user-agents
