asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-auth-ldap==2.3.0
django-recaptcha==2.0.6
django-user-agents==0.4.0
django-widget-tweaks==1.4.8
fernet==1.0.1
idna==2.10
install==1.3.4
ldap3==2.9
Naked==0.1.31
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.10.1
pyotp==2.6.0
python-decouple==3.4
python-ldap @ file:///C:/Projects/d-identitiy/python_ldap-3.3.1-cp39-cp39-win_amd64.whl
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
sqlparse==0.4.1
ua-parser==0.10.0
urllib3==1.26.3
user-agents==2.2.0