{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>D@Identity</title>
  <!--Page Icon-->
  <link rel="icon" type="image/png" href="password.ico" type="{% static 'assets/img/icons/password.ico' %}"  sizes="32x32"> 
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' % }">
  <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
  

  <title>{% block title %}D@Identity{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<!--Data table-->
  <script type="text/javascript" src="{% static 'assets/js/datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#zero_config').DataTable();
} );
</script>

<script type="text/javascript">
	





$(document).ready(function() { 

  // şifre kurallı değilse butonu disable et
  $('#reg_userpassword').keyup(function() {
    var password = $('#reg_userpassword').val();
    var confirmpassword = $('#reg_userpasswordconfirm').val();

    if (checkStrength(password) == false) {
      $('#reg_submit').attr('disabled', true);
    }
  });

  // password-rule divi hide/show
  $('#reg_userpassword').keyup(function() {
    if ($('#reg_userpassword').val()) {
      $('#reg_passwordrules').removeClass('hide');
      $('#reg-password-strength').removeClass('hide');
    } else {
      $('#reg_passwordrules').addClass('hide');
      $('#reg-password-quality').addClass('hide')
      $('#reg-password-quality-result').addClass('hide')
      $('#reg-password-strength').addClass('hide')

    }
  });

  // password-confirm error divi hide/show
  $('#reg_userpasswordconfirm').blur(function() {
    if ($('#reg_userpassword').val() !== $('#reg_userpasswordconfirm').val()) {
      $('#error-confirmpassword').removeClass('hide');
      $('#reg_submit').attr('disabled', true);
    } else {
      $('#error-confirmpassword').addClass('hide');
      $('#reg_submit').attr('disabled', false);
    }
  });

 
  $('#reg_submit').hover(function() {
    if ($('#reg_submit').prop('disabled')) {
      $('#reg_submit').popover({
        html: true,
        trigger: 'hover',
        placement: 'below',
        offset: 20,
        content: function() {
          return $('#sign-up-popover').html();
        }
      });
    }
  });
  // karakter doğrulama
  function checkStrength(password) {
    var strength = 0;

    //If password contains both lower and uppercase characters, increase strength value.
    if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {
      strength += 1;
      $('.low-upper-case').addClass('text-success');
      $('.low-upper-case i').removeClass('fa-check').addClass('fa-check');
      $('#reg-password-quality').addClass('hide');


    } else {
      $('.low-upper-case').removeClass('text-success');
      $('.low-upper-case i').addClass('fa-check').removeClass('fa-check');
      $('#reg-password-quality').removeClass('hide');
    }

    //If it has numbers and characters, increase strength value.
    if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) {
      strength += 1;
      $('.one-number').addClass('text-success');
      $('.one-number i').removeClass('fa-check').addClass('fa-check');
      $('#reg-password-quality').addClass('hide');

    } else {
      $('.one-number').removeClass('text-success');
      $('.one-number i').addClass('fa-check').removeClass('fa-check');
      $('#reg-password-quality').removeClass('hide');
    }

    //If it has one special character, increase strength value.
    if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) {
      strength += 1;
      $('.one-special-char').addClass('text-success');
      $('.one-special-char i').removeClass('fa-check').addClass('fa-check');
      $('#reg-password-quality').addClass('hide');

    } else {
      $('.one-special-char').removeClass('text-success');
      $('.one-special-char i').addClass('fa-check').removeClass('fa-check');
      $('#reg-password-quality').removeClass('hide');
    }

    if (password.length > 7) {
      strength += 1;
      $('.eight-character').addClass('text-success');
      $('.eight-character i').removeClass('fa-check').addClass('fa-check');
      $('#reg-password-quality').removeClass('hide');

    } else {
      $('.eight-character').removeClass('text-success');
      $('.eight-character i').addClass('fa-check').removeClass('fa-check');
      $('#reg-password-quality').removeClass('hide');
    }
    // ------------------------------------------------------------------------------
    // If value is less than 2
    if (strength < 2) {
      $('#reg-password-quality-result').removeClass()
      $('#password-strength').addClass('progress-bar-danger');

      $('#reg-password-quality-result').addClass('text-danger').text('zayıf');
      $('#password-strength').css('width', '10%');
    } else if (strength == 2) {
      $('#reg-password-quality-result').addClass('good');
      $('#password-strength').removeClass('progress-bar-danger');
      $('#password-strength').addClass('progress-bar-warning');
      $('#reg-password-quality-result').addClass('text-warning').text('idare eder')
      $('#password-strength').css('width', '60%');
      return 'Week'
    } else if (strength == 4) {
      $('#reg-password-quality-result').removeClass()
      $('#reg-password-quality-result').addClass('strong');
      $('#password-strength').removeClass('progress-bar-warning');
      $('#password-strength').addClass('progress-bar-success');
      $('#reg-password-quality-result').addClass('text-success').text('güçlü');
      $('#password-strength').css('width', '100%');

      return 'Strong'
    }

  }


});

// Şifre gizle göster
function togglePassword() {

  var element = document.getElementById('reg_userpassword');
  element.type = (element.type == 'password' ? 'text' : 'password');

};

</script>

</body>
</html>
