{% extends 'base.html' %}
{% load static from static %}


{% block title %}Operation status{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/loader.css' %}">
{% endblock styles %}

{% block content %}
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <h2>{{ user_email }} Operation Completed!</h2>
  <p>{{ stat_msg }}</p>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

{% endblock content %}
