{% extends 'base.html' %}
{% load static from static %}



{% block title %}Chalenge form{% endblock %}

{% block content %}
<form method="POST">
  <div class="form-row">
   
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input type="password" class="form-control" id="validationDefaultUsername" placeholder="Password" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-3">
    <label for="validationDefaultUsername">Confirm Password</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
      </div>
      <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Confirm Password" aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
</form>

{% endblock content %}