{% extends 'base.html' %}
{% load static from static %}



{% block title %}Chalenge form{% endblock %}

{% block content %}
<div class="text-center mt-3">
<h2 class="">Password Reset</h2>
</div>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
    
     <p ></p> Rest Password for User: <strong>{{email}}</strong>
    
    
<form method="POST"oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
  
   
    <div class="input-group input-group-lg mb-4 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-lock"></i></span>
      </div>
      
      <input type="password" id="psw" class="form-control" aria-label="Password" aria-describedby="inputGroup-sizing-sm" name="up" placeholder="Password" required>
    </div>

    <div class="input-group input-group-lg mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" aria-label="Password2" aria-describedby="inputGroup-sizing-sm" name="up2" placeholder="Confirm Password" required>
    </div>

  <button class="btn btn-outline-primary btn-block mt-3 mb-2 btn-lg" type="submit">Change Password</button>
  <div class="card-footer">

   <h4>Password must contain the following:</h4>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="capital" class="invalid">A <b>special character</b> sign</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  </div>
  
</form>
</div>
</div>

</div>
{% endblock content %}